@import "tailwindcss";
/* @tailwind utilities;
@tailwind base;
@tailwind component; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #495470;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/Instrument Serif Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/Instrument Serif Italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Lunchtype";
  src: url("/fonts/Lunchtype Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Lunchtype";
  src: url("/fonts/Lunchtype Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Lunchtype";
  src: url("/fonts/Lunchtype Regular.woff2") format("woff2");
  font-weight: 400;
}

body {
  /* @apply bg-zinc-900 h-full overflow-x-hidden ; */
  /* @apply */
  background: var(--background);
  color: var(--foreground);
  font-family: "Lunchtype", serif;
  font-weight: 400;
  color: var(--foreground);
}

h1 {
  font-family: "Instrument Serif", serif;
}
.instrument {
  font-family: "Instrument Serif", serif;
}

/* #__next {
  @apply h-full;
}
html {
  @apply h-full;
} */
