@import "tailwindcss";
/* @tailwind utilities;
@tailwind base;
@tailwind component; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #006ba9;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/Instrument Serif Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Instrument Serif";
  src: url("/fonts/Instrument Serif Italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Lunchtype";
  src: url("/fonts/Lunchtype Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Lunchtype";
  src: url("/fonts/Lunchtype Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Lunchtype";
  src: url("/fonts/Lunchtype Regular.woff2") format("woff2");
  font-weight: 400;
}

body {
  /* @apply bg-zinc-900 h-full overflow-x-hidden ; */
  /* @apply */
  background: var(--background);
  /* color: var(--foreground); */
  font-family: "Lunchtype", serif;
  font-weight: 400;
  /* color: var(--foreground); */
}

h1 {
  font-family: "Instrument Serif", serif;
}
.instrument {
  font-family: "Instrument Serif", serif;
}

/* #__next {
  @apply h-full;
}
html {
  @apply h-full;
} */

body {
  margin: 0px;
  overflow-x: hidden;
}

::selection {
  background: blue; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: blue; /* Gecko Browsers */
  color: white;
}

.overlay {
  width: 100%;
  opacity: 0.9;
  mix-blend-mode: multiply;
  z-index: 10;
  pointer-events: none;
  &.two {
    opacity: 0.9;
    mix-blend-mode: lighten;
    z-index: 11;
  }
}
main {
  background-color: white;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(10);
}

.design {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background: linear-gradient(127deg, #fff 0%, #c7c7c7 100%);
  background-position: 100% 25%;
  background-size: 180% 180%;
  pointer-events: all;
  animation: blur 4s ease-in-out;
  transition: filter 0.3s ease-in-out;
  &:hover {
    animation-play-state: paused;
    filter: blur(3px);
  }
}

@keyframes blur {
  0% {
    filter: blur(3.5px);
  }

  100% {
    filter: blur(0.3px);
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 5vw;
    margin-block: 0px;
  }

  .oval {
    border: 3px solid black;
    padding: 12px 14px;
    line-height: 100%;
    text-align: center;
    border-radius: 50%;
    p {
      margin-block: 0px;
      text-transform: uppercase;
    }
  }
  .square {
    border: 3px solid black;
    margin-top: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    div {
      font-size: 1.3vw;
      font-weight: bold;
      p {
        margin-block: 0px;
        font-size: 0.7vw;
      }
    }
  }
  .shapes {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    h2 {
      margin-block: 0px;
      font-size: 3vw;
      font-weight: normal;
    }
    h4 {
      font-size: 2vw;
      margin-block: 0px;
      display: block;
    }
    p {
      margin-block: 0px;
    }
  }
}

.space-container {
  display: flex;
  align-items: center;
  width: 100%;

  hr {
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    display: inline;
    flex-grow: 1;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    &.white {
      border-color: white;
    }
  }
}

.gradient {
  background-color: hsla(344, 60%, 33%, 1);
  background-image: radial-gradient(
      at 83% 3%,
      hsla(54, 18%, 37%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 2% 98%, hsla(339, 19%, 20%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 97%, hsla(340, 42%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 81%, hsla(333, 15%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 7%, hsla(354, 15%, 30%, 1) 0px, transparent 50%);
  background-size: 180% 180%;
  animation: gradientShift 40s ease-in-out infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 0% 0%;
  }
}
